*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}
.card-div{
    width: 70%;
    border: 1px solid black;
    /* margin-top: 20px; */
    margin: 20px auto;
    padding: 1.5rem;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}
img{
    padding: 10px;
    background-color: red;
    width: 40px;
}
.img-div{
    display: flex;
    /* align-items:center; */
    /* justify-content: space-around; */
}
p{
    display: block;
}
.question{
       
}
.blog{
    margin: 20px;

}